<header class="sticky top-0 z-50 bg-white dark:bg-neutral-900">
  <div class="flex flex-row justify-between p-4 max-w-7xl mx-auto px-6">
    <div class="flex flex-row gap-1 items-center">
      {{ if .IsHome }}
      <div data-action="scroll-to-top" class="cursor-pointer" style="font-family: var(--font-quicksand)">{{
        .Site.Title
        }}</div>
      {{ else }}
      <div style="font-family: var(--font-quicksand)"><a href='{{ "/" | relURL }}'>{{ .Site.Title
          }}</a></div>
      {{ end }}

      <button id="theme-toggle" type="button"
        class="inline-flex items-center justify-center p-1 text-neutral-700 dark:text-neutral-200 hover:text-neutral-900 dark:hover:text-white transition-colors"
        aria-label="Toggle color mode" aria-pressed="false">
        <span id="theme-toggle-icon" aria-hidden="true" class="inline-flex items-center justify-center"></span>
      </button>
    </div>

    <div class="flex flex-row gap-3 items-center">
      <a href="https://github.com/theachoem/storypad"><img
          src="https://img.shields.io/github/stars/theachoem/storypad?style=social" alt="StoryPad Star Count"></a>
      <div class="flex flex-row gap-2 items-center group">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
        </svg>
        <a href="https://apps.apple.com/us/app/storypad-write-your-story/id6744032172?platform=iphone"
          class="group-hover:underline" id="download-link-ios">
          Download
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.tc.writestory" class="group-hover:underline"
          id="download-link-android">
          Download
        </a>
      </div>
    </div>
  </div>
</header>