<header
  class="sticky top-0 z-50 flex flex-row justify-between p-4 max-w-7xl mx-auto px-6 bg-white dark:bg-neutral-900 border-b-1 border-b-neutral-300 dark:border-b-neutral-600">

  <div class="flex flex-row gap-2 items-center group">
    {{ if .IsHome }}
    <h1
      onclick="if (window.scrollY === 0) { this.classList.remove('animate-shake-vertical'); void this.offsetWidth; this.classList.add('animate-shake-vertical'); } else { window.scrollTo({ top: 0, behavior: 'smooth' }); }"
      class="cursor-pointer">{{ .Site.Title }}</h1>
    {{ else }}
    <a href='{{ "/" | relURL }}'>{{ .Site.Title }}</a>
    {{ end }}

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-5 opacity-0 group-hover:opacity-100 transition-all -translate-x-1 group-hover:translate-0 duration-200">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
    </svg>
  </div>

  <div class="flex flex-row gap-2 items-center group">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
    </svg>
    <a onclick="openStore()" class="cursor-pointer group-hover:underline">
      Download
    </a>
  </div>
</header>