<section class="mt-8">
  <div class="max-w-2xl mx-auto px-6 flex flex-col items-center text-center gap-6">
    <h2 id="faq" class="font-headline text-4xl scroll-mt-24">
      <a href="#faq">Got questions?</a>
    </h2>

    <div class="flex flex-col w-full">
      {{ range $index, $element := site.Data.questions }}
      <details class="w-full group text-left p-4 border border-t-0 dark:border-neutral-500
        {{ if eq $index 0 }}rounded-t-xl border-t-1{{ end }}
        {{ if eq $index (sub (len site.Data.questions) 1) }}rounded-b-xl{{ end }}">
        <summary class="list-none cursor-pointer flex flex-row items-center justify-between gap-4">
          <span class="text-left">{{ add $index 1 }}. {{ .question }}</span>
          <span class="group-open:rotate-45 transition-transform duration-200 group-open:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </span>
        </summary>
        <p class="mt-2 text-neutral-500">{{ .answer }}</p>
      </details>
      {{ end }}
    </div>
  </div>
</section>