<section>
	<div class="max-w-2xl mx-auto px-6 flex flex-col items-center text-center">
		<img src="logo_120x120.png" alt="StoyPad logo_120x120.png" class="w-[120]" />

		<h1 class="font-headline text-4xl">
			Not another journal app.<br />
			<span class="font-quicksand text-4xl font-bold text-red-400">A timeline for your life.</span>
		</h1>

		<p class="mt-4">
			StoryPad lets you capture everything - notes, thoughts, emotions, workouts,
			travels - on a single continuous timeline.<br>
			<span class="line-through">No folders</span>.
			<span class="line-through">No tabs</span>.
			Just your life, beautifully organized.
		</p>

		<div class="flex flex-row gap-4 my-6">
			<img src="app-store-button.png" alt="app-store-button.png" />
			<img src="google-play-button.png" alt="google-play" />
		</div>

		<img src="cover.png" alt="cover.png">
	</div>
</section>