<section>
	<div class="max-w-2xl mx-auto px-6 flex flex-col items-center text-center">
		<picture>
			<source srcset='{{ "logo_200x200.webp" | relURL }}' type="image/webp" />
			<img src='{{ "logo_200x200.png" | relURL }}' alt="StoyPad logo_200x200" class="w-[120px] h-[120px]" />
		</picture>
		<h1 class="font-headline text-4xl">
			Not another journal app.<br />
			<span class="font-quicksand text-4xl font-bold text-red-400">A timeline for your life.</span>
		</h1>

		<p class="mt-4">
			StoryPad lets you capture everything - notes, thoughts, emotions, workouts,
			travels - on a single continuous timeline.<br>
			<span class="line-through">No folders</span>.
			<span class="line-through">No tabs</span>.
			Just your life, beautifully organized.
		</p>

		<div class="flex flex-row gap-4 my-6">
			<a href="https://apps.apple.com/us/app/storypad-write-your-story/id6744032172?platform=iphone" target="_blank"
				rel="noopener noreferrer"
				class="google-play-button dark:border dark:border-neutral-500 dark:rounded-md dark:overflow-hidden hover:-translate-y-0.5 transition-transform duration-100">
				<picture class="block h-[48px] w-[168px]">
					<source srcset='{{ "app-store-button.webp" | relURL }}' type="image/webp" />
					<img src='{{ "app-store-button.png" | relURL }}' alt="app-store-button.png" width="336" height="96"
						class="h-[48px] w-auto" />
				</picture>
			</a>
			<a href="https://play.google.com/store/apps/details?id=com.tc.writestory" target="_blank"
				rel="noopener noreferrer"
				class="dark:border dark:border-neutral-500 dark:rounded-md dark:overflow-hidden hover:-translate-y-0.5 transition-transform duration-100">
				<picture class="block h-[48px] w-[162px]">
					<source srcset='{{ "google-play-button.webp" | relURL }}' type="image/webp" />
					<img src='{{ "google-play-button.png" | relURL }}' alt="google-play" width="324" height="96"
						class="h-[48px] w-auto" />
				</picture>
			</a>
		</div>

		<picture class="block w-full aspect-[1048/761]">
			<source srcset='{{ "cover_2.webp" | relURL }}' type="image/webp" />
			<img src='{{ "cover_2.png" | relURL }}' alt="cover_2.png" width="1048" height="761"
				class="cursor-pointer block w-full h-auto" data-action="shake-animation" />
		</picture>
	</div>
</section>