<section class="mt-8">
    <div class="max-w-2xl mx-auto px-6 flex flex-col items-center text-center gap-4">
        <h2 class="font-headline text-4xl">People Love StoryPad.</h2>
        <class class="flex flex-row text-amber-400">
            {{ range seq 1 5 }}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd" />
            </svg>
            {{ end }}
        </class>

        {{
        $reviews := slice
        (dict
        "name" "Shadowyartsdirty Po"
        "review_date" "May 20, 2025, 15:08"
        "review" `Great app, been using it for years. Love how the update handles multiple page files. Took a while to
        adjust to new layout but worth it.`)
        (dict
        "name" "Caelum"
        "review_date" "Mar 7, 2025, 21:43"
        "review" `I love the app, and I highly recommend it for
        those looking for a simple and easy place to write, organize, and save their notes. It's probably the most
        secure
        app in terms of privacy, too. Keep up the good work! Translated from Spanish`
        )
        (dict
        "name" "Ballabh Agrawal"
        "review_date" "May 5, 2025, 21:02"
        "review" `Fabulous app to give a voice to your
        creativity . Simple functions no hectic things just keep yourself the way you want .. Let your words flow .. Let
        your stories speak ... And there is also an App lock feature using which you can maintain your privacy .. It has
        helped me to tackle the billions of thoughts that come in my mind .. it's features are simple yet the best you
        can
        highlight the text bold it tag your stories .. I strongly recommend this app . I don't have words to praise it.
        Thanks♥`)
        }}

        <div class="flex flex-col gap-6 mt-3">
            {{ range $reviews }}
            <div>
                <a class="underline text-red-400 text-base"
                    href="https://play.google.com/store/apps/details?id=com.tc.writestory" target="_blank">{{ .name
                    }}</a>
                <p class="text-base my-2">{{ .review }}</p>
                <p class="text-sm italic">{{ .review_date }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>