<section>
  <div class="
      /* Size & Spacing */ max-w-6xl mx-auto px-6
      /* Layout */ flex flex-col items-center text-center gap-4">
    <h2 class="font-headline text-4xl">Why split your life into folders?</h2>
    <p class="max-w-2xl">
      You don't live in categories, so why journal in them? StoryPad is designed
      for how you actually live - with a unified, chronological flow that brings
      everything together: thoughts, todos, memories, and more. Just write - we'll
      handle the rest.
    </p>

    {{- $classes := slice
    "bg-red-200 dark:bg-red-950"
    "bg-yellow-200 dark:bg-yellow-950"
    "bg-fuchsia-200 dark:bg-fuchsia-950"
    "bg-lime-200 dark:bg-lime-950"
    "bg-green-200 dark:bg-green-950"
    "bg-blue-200 dark:bg-blue-950"
    "bg-purple-200 dark:bg-purple-950"
    -}}

    <div class="
        /* Grid Layout */ grid grid-cols-[repeat(auto-fit,_320px)] justify-center gap-5
        /* Size & Spacing */ w-full mt-6">
      {{ range $index, $element := site.Data.usecases }}
      {{ $bg_color := index $classes (mod $index (len $classes)) }}

      <div
        onclick="if (!window.matchMedia('(hover: hover)').matches) { document.querySelectorAll('.home-usecase-card').forEach(c => c !== this && c.classList.remove('active')); this.classList.toggle('active'); }"
        onmouseover="document.querySelectorAll('.home-usecase-card').forEach(c => c !== this && c.classList.remove('active'));"
        class="
        /* Positioning */ relative
        /* Size */ w-[320px] h-[420px]
        /* Layout */ group items-center px-6 pt-6
        /* Style */ border rounded-lg {{ $bg_color }} cursor-pointer border-black dark:border-neutral-500
        /* Custom class */ home-usecase-card">

        <div class='
            /* Layout */ h-[380px] border rounded-t-lg overflow-hidden {{ if eq .scrollable "yes" }}overflow-y-auto scrollbar-hidden pb-[24px]{{ end }}
            /* Style */ bg-white
            /* Transform: Rotation */ rotate-2 group-hover:rotate-0 [.group.active_&]:rotate-0
            /* Transform: Scale */ scale-95 group-hover:scale-110 [.group.active_&]:scale-110
            /* Transform: Translate */ group-hover:-translate-y-10 [.group.active_&]:-translate-y-10
            /* Transition */ transition-all duration-300'>
          {{ if .images }}

          {{ $total := len .images }}
          <div class="flex overflow-y-hidden overflow-x-auto snap-x snap-mandatory scroll-smooth scrollbar-hide">
            {{ range $i, $img := .images }}
            <img src="/usecases/{{ $img }}" alt="{{ $element.title }}"
              class="snap-start flex-shrink-0 w-full h-auto backdrop-blur" {{/* Put backdrop blur fix the image blur
              issue */}} data-last="{{ if eq (add $i 1) $total }}yes{{else}}no{{end}}"
              onclick="this.dataset.last === 'yes' ? this.parentElement.scrollTo({ left: 0, behavior: 'smooth' }) : this.parentElement.scrollBy({ left: this.offsetWidth, behavior: 'smooth' })" />
            {{ end }}
          </div>

          {{ else if .image }}

          {{ if eq .scrollable "yes" }}
          <img src="/usecases/{{ .image }}" alt="{{ .title }}" class="w-full h-auto backdrop-blur"
            onclick="this.parentElement.scrollTo({ top: this.parentElement.scrollTop + this.parentElement.clientHeight >= this.parentElement.scrollHeight - 50 ? 0 : this.parentElement.scrollTop + 240, behavior: 'smooth' });" />
          {{ else }}
          <img src="/usecases/{{ .image }}" alt="{{ .title }}" class="w-full h-auto backdrop-blur"
            onclick="this.classList.remove('animate-shake-vertical');void this.offsetWidth; this.classList.add('animate-shake-vertical');" />
          {{ end }}

          {{ end }}
        </div>

        {{ if eq .scrollable "yes" }}
        <div
          class="absolute bottom-12 left-0 right-0 h-24 bg-gradient-to-t from-white to-transparent pointer-events-none opacity-0 group-hover:opacity-100 [.group.active_&]:opacity-100">
        </div>
        {{ end }}

        <div class="
            /* Positioning */ absolute bottom-0 left-0 right-0
            /* Layout */ flex flex-row items-center justify-between min-h-16 px-4 rounded-b-lg
            /* Background & Border */ bg-white dark:bg-neutral-950 border-t border-t-black dark:border-t-neutral-500
            /* Interactive States: Background */ group-hover:bg-red-400 [.group.active_&]:bg-red-400 dark:group-hover:bg-red-950 dark:[.group.active_&]:bg-red-950
            /* Interactive States: Text Color */ group-hover:text-white [.group.active_&]:text-white">
          <span class="text-left">{{ add $index 1 }}. {{ .title }}</span>
          <span class="
                /* Transform: Rotation */ group-hover:rotate-45 [.group.active_&]:rotate-45
                /* Transition */ transition-transform duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </span>
        </div>

        {{ if eq .scrollable "yes" }}
        <div class="
            /* Layout */ flex flex-col items-center gap-1
            /* Pointer Events */ pointer-events-none
            /* Positioning */ absolute bottom-18 left-1/2 -translate-x-1/2  
            /* Visibility */ opacity-0 group-hover:opacity-100 [.group.active_&]:opacity-100  
            /* Transition */ transition-opacity duration-300">
          <svg class="w-7 h-7 text-neutral-700 animate-bounce" fill="none" stroke="currentColor" stroke-width="2"
            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
            <path d="M6 9l6 6 6-6"></path>
          </svg>
        </div>
        {{ end }}

        {{ if .images }}
        <div class="
            /* Pointer Events */ pointer-events-none  
            /* Positioning */ absolute top-42 right-4 -rotate-90
            /* Visibility */ opacity-0 group-hover:opacity-100 [.group.active_&]:opacity-100  
            /* Transition */ transition-opacity duration-300">
          <svg class="w-7 h-7 text-neutral-700 animate-bounce" fill="none" stroke="currentColor" stroke-width="2"
            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
            <path d="M6 9l6 6 6-6"></path>
          </svg>
        </div>
        {{ end }}

      </div>
      {{ end }}
    </div>
  </div>
</section>