<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header class="flex flex-row justify-between p-4 max-w-6xl mx-auto px-6">
    <h1>{{ site.Title }}</h1>
    <div class="flex flex-row gap-4">
      <a href="http://" class="underline">Blogs</a>
    </div>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <hr class="mt-20 mb-8">
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>