<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="dark:bg-neutral-900 dark:text-neutral-300">
  {{ partial "header.html" . }}

  <main class="pt-16">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="border-t pt-10 mt-20 border-t-neutral-300 dark:border-t-neutral-700">
    {{ partial "footer.html" . }}
  </footer>

  <script>
    function openStore() {
      const ua = navigator.userAgent || navigator.vendor || window.opera;
      const isIOS = /iPad|iPhone|iPod/.test(ua) && !window.MSStream;
      const isMac = navigator.platform.toUpperCase().indexOf(' MAC') >= 0;

      const isAppleDevice = isIOS || isMac;

      const url = isAppleDevice
        ? 'https://apps.apple.com/us/app/storypad-write-your-story/id6744032172'
        : 'https://play.google.com/store/apps/details?id=com.tc.writestory';

      window.open(url, '_blank');
    }
  </script>
</body>

</html>