<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="dark:bg-neutral-900 dark:text-neutral-300">
  <header class="flex flex-row justify-between p-4 max-w-6xl mx-auto px-6">
    <h1>{{ site.Title }}</h1>
    <div class="flex flex-row gap-4">
      <a href="http://" class="underline">Blogs</a>
    </div>
  </header>

  <main class="flex flex-col gap-30">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="border-t pt-10 mt-20 border-t-neutral-300 dark:border-t-neutral-700">
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>